@import "../../../assets/css/token/krds_tokens.css"; //디자인 토큰

//*** path setting
$url: "../.." !default;
$url-img: "../img" !default; //img

//대시보드 페이지
.dashboard-page {
	.dashboard-wrap {
		.card-wrap {
			&:has(.card-tab) {
				.card-tab {
					background-color: var(--krds-high-contrast-color-background-white);
				}
			}

			.card-tab {
				.tab {
					ul {
						background-color: var(--krds-high-contrast-color-background-white);
					}
				}

				.btn-tab {
					background-color: var(--krds-high-contrast-color-background-white);
					border-color: var(--krds-high-contrast-color-background-white);

					&:hover {
						background-color: var(--krds-high-contrast-color-background-white);
					}
				}

				.active {
					.btn-tab {
						color: var(--krds-color-light-gray-0);
						border-bottom-color: var(--krds-color-light-gray-0);
					}
				}
			}
		}

		.card-wrap {
			> .card {
				border-color: var(--krds-high-contrast-color-background-gray-subtle);
			}

			&:has(.card-tab) {
				+ .card-wrap {
					&:has(.card-tab) {
						border-color: var(--krds-high-contrast-color-background-gray-subtle);
					}
				}
			}
		}

		.chart-text {
			color: var(--krds-high-contrast-color-text-basic);
		}

		.label-wrapper {
			color: var(--krds-high-contrast-color-text-basic);
		}

		.label-number {
			color: var(--krds-high-contrast-color-text-subtler);
		}

		.post-list {
			.post-tit {
				color: var(--krds-high-contrast-color-text-basic);
			}
			.post-date {
				color: var(--krds-high-contrast-color-text-subtler);
			}
		}

		.visit-list {
			> li {
				border-color: var(--krds-high-contrast-color-border-gray-light);
			}
			.name {
				color: var(--krds-high-contrast-color-text-basic);
			}
			.place {
				color: var(--krds-high-contrast-color-text-subtle);
			}
			.date {
				color: var(--krds-high-contrast-color-text-subtler);
			}
		}
	}
}

//사용자페이지

.user-page {
	.box-user {
		&:nth-child(1) {
			background-color: var(--krds-mode-color-high-contrast-primary-80);
		}
		&:nth-child(2) {
			background-color: #3e196a;
		}
		&:nth-child(3) {
			background-color: #0c484e;
		}
	}

	.card-user {
		@include media-breakpoint-down(md) {
			background-color: var(--krds-high-contrast-color-background-gray-subtler);
		}
	}

	.box-area-mid {
		@include media-breakpoint-down(md) {
			background-color: var(--krds-high-contrast-color-background-white);
		}
	}

	.promise-wrap {
		background-color: var(--krds-mode-color-light-gray-95);
	}

	.box-notice {
		.box-title {
			color: var(--krds-light-color-text-bolder-inverse);
		}

		.box-text {
			strong {
				color: var(--krds-light-color-text-static-inverse);
			}
			p {
				color: var(--krds-light-color-text-subtle-inverse);
			}
		}
	}

	.btn-link {
		color: var(--krds-color-high-contrast-gray-0);
	}

	.check-btn {
		font-size: var(--krds-pc-font-size-body-xsmall);
		+ .gray {
			color: var(--krds-mode-color-high-contrast-gray-10);
			background-color: var(--krds-color-light-gray-90);
			border-color: var(--krds-color-light-gray-70);
		}

		&:checked {
			& + label {
				&.gray {
					color: var(--krds-mode-color-high-contrast-gray-0);
					background-color: var(--krds-color-light-gray-70);
					border-color: var(--krds-color-light-gray-20);
				}
			}
		}
	}
}
